body {
	margin:0px 0px; padding:0px;
	
	}
	
#container {
	

	
	background-color:white;
	}
	

#menu_header
	{
	 top:0px;
	 position: fixed;
	 text-align:center;
	 background-color:#b0c4de;
	 height:100px; 
	 width:100%;
	 left:0px;	
	
     }
	
#gallery
	{
	 position:fixed;
	 
	 margin-top:100px;
	 height:400px; 
	 width:980px;	
	overflow: hidden;
	
	}
	
.thumbVetrina
	{
	
	 float: left; 
	 height:200px;
	 width:245px; 	
	 
	
	 margin: 0;
	 padding: 0;
	}
	
#statistiche
	{
	 font-size: 100%;
	 vertical-align:center;
	 width:980px;
	 background-image: url('statistiche/SfondoStatistiche.jpg');
	 background-repeat: repeat-y;
	 
	}
	
.stat
    {
	 text-shadow: 0 0 5px rgba(0,0,0,0.5);     
    }

    .footer
    {
    	
    	margin-top:200px;
    	
    }
    .biglietto
    {
    	text-align:none;	
    	
    }
    .ui-dialog-titlebar-close
     {
  		visibility: hidden;
	 }
