

body {
	margin:0px 0px; padding:0px;
	
	}
	
#container {
	

	
	background-color:white;
	}
	

#menu_header
	{
	 top:0px;
	 position: fixed;
	 text-align:center;
	 background-color:#b0c4de;
	 height:60px; 
	 width:100%;
	 left:0px;
	 z-index: 19;	
	
     }
	
#gallery
	{
	 position:fixed;
	 
	 margin-top:100px;
	 height:500px; 
	 width:980px;	
	overflow: hidden;
	
	}
	
.thumbVetrina
	{
	
	 float: left; 
	 height:200px;
	 width:245px; 	
	 
	
	 margin: 0;
	 padding: 0;
	}
	
#div_stat
	{
	 font-size: 100%;
	}
	
.stat
    {
     
    }
    .footer
    {
    	
    	margin-top:200px;
    	
    }
    .biglietto
    {
    	text-align:none;	
    	z-index: -1;
    	
    	
    }
    .ui-dialog-titlebar-close
     {
  		visibility: hidden;
	 }
